:root{
    --color-bg-main: #EAF6FF;
    --color-bg-second: #FFF6E5;
}

body {
    padding: 0;
    margin:0;
    font-size : 16px;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
}

.hero{
    background-color: var(--color-bg-main);
    display: flex;
    flex-direction: column;
}

.hero_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;
}

.hero_header_links {
    list-style: none;      /* remove dots */
    display: flex;         /* make items in a row */
    gap: 1rem;        
    font-size: 1rem;     
}        

.hero_content {
    display: flex;
    padding: 1rem 2rem;
    gap: 1rem;
}

.hero_content_text{
    flex: 1;
}

.hero_content_image_container{
    flex: 1;
    max-width: clamp(100px,20vw,500px)
}

#hero_content_image{
    max-width: 100%;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

.cards_container{
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_image_container{
    flex: 1;
    max-width: 20vw;
}

.card_image_container img{
    max-width: 100%;
}

.card_description {
    flex:1;
    font-size: 1rem;
    text-align: center;
}

.quote {
    padding: 1rem 2rem;
    background-color: var(--color-bg-second);
}

.quote h3{
    width: 100%;
    text-align: end;
}