:root{
    --color-bg-main: #EAF6FF;
    --color-bg-second: #FFF6E5;
}

html {
  font-size: clamp(13px, 1.1vw, 15px);
}

body {
    padding: 0;
    margin:0;
    font-size : 16px;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
}

p {
    font-family: "Schoolbell", sans-serif;
}

a {
    text-decoration: none;
}

.hero{
    flex:1;
    background-color: var(--color-bg-main);
    display: flex;
    flex-direction: column;
}

.hero_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;
    border-bottom: 1px solid black;
    background-color: #4A6FA5;
}

.hero_header h1{
    font-family: "Sour Gummy", sans-serif;
}

.hero_header_links {
    list-style: none;      /* remove dots */
    display: flex;         /* make items in a row */
    gap: 1rem;        
    font-size: 1rem;     
    font-family: "Schoolbell", sans-serif;
}

.hero_header h1,
.hero_header_links a{
    color:  white;
}

.hero_content {
    display: flex;
    padding: 1rem 2rem;
    gap: 1rem;
}

.hero_content_text{
    flex: 1;
}

.hero_content_text h1{
    font-family: "Sour Gummy", sans-serif;
}

.hero_content_image_container{
    flex: 1;
    max-width: clamp(100px,20vw,500px)
}

#hero_content_image{
    max-width: 100%;
    height: auto;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

.info_title {
    font-family: "Sour Gummy", sans-serif;
}

.cards_container{
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_image_container{
    flex: 1;
    width: max(150px,15vw);
    border: 2px black solid;
    border-radius: 20px;
    padding: 1rem;
}

.card_image_container img{
    max-width: 100%;
}

.card_description {
    flex:1;
    font-size: 1rem;
    text-align: center;
}

.quote {
    flex: 1;
    padding: 1rem 8rem;
    background-color: var(--color-bg-second);
}

.quote h3{
    text-align: end;
}

.cta {
    align-self: center;
    margin: 2rem 4rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE4D6;
    gap: 1rem;
    width: max(24rem, 40vw)
}

.cta h1 {
    font-family: "Sour Gummy", sans-serif;
}

.cta_button{
    font-family: "Schoolbell", sans-serif;
    background-color: var(--color-bg-second);

}